@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


h2 {
    font-family: 'montserrat';
}
p {
    color: black;
    font-family: "montserrat";
}

.nav-text{
    color: white;
}