@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


h2, body {
    font-family: 'montserrat';
}
p {
    color: black;
    font-family: "montserrat";
    
}

.nav-text{
    color: white;
  
}

.vid-text{
    padding:0 3rem 0 3rem;
}